<section id="home" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto py-5">
      <h1 class="text-center">TBD (TO BE DEFINE)</h1>
      <p> Página del hermano de slobo</p>
      <p>Agregar el carousel del home</p>
      <p>Agregar el devide para iniciar sesión</p>
      <p>Agregar el modelo: Usuario, Propiedad, comentario</p>
    </div>
  </div>
</section>
