<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" id="item1">
        <div class="carousel-container">
          <div class="container w-50">
            <h2 class="animated fadeInDown">¿Intersado en una propiedad?</h2>
            <p class="animated fadeInUp">Mira sus reseñas</p>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Direccion" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" id="item2">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animated fadeInDown">Califica las propiedades</h2>
            <a href="#about" class="btn-get-started animated fadeInUp scrollto">Ver propiedades</a>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <i class="bi bi-chevron-left"></i>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <i class="bi bi-chevron-right"></i>
    </a>

  </div>
</section><!-- End Hero -->
<section id="home" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto py-5">
      <h1 class="text-center">TBD (TO BE DEFINE)</h1>
      <%if current_user%>
      <h4>Hola <%= current_user.username%></h4>
      <%end%>
      <p> Página del hermano de slobo</p>
      <p>Agregar el carousel del home</p>
      <p>Agregar el devide para iniciar sesión</p>
      <p>Agregar el modelo: Usuario, Propiedad, comentario</p>
    </div>
  </div>
</section>
